
/* 
    Created on : Mar 31, 2016, 1:01:06 AM
    Author     : SHARMIN
*/

.main_div{
    margin:0 auto;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    width:960px;
    //float: left;
   
}
.header_div{
    width: 100%;
    margin: 0;
    height: 130px;
    background:darkcyan;
    float: left;
    
}

h1{
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: blanchedalmond;
    
}
h2{
    margin-top: 10px;
    padding: 0;
    text-align: center;
     color: blanchedalmond;
}
.wrapper_div{
    background-color: coral;
    width:960px; 
    float: left;
}
.menu_div{
    background-color: coral;    
    margin: 0 15px;
    float: left;
}
.menu_div ul{
    padding:0;
    margin:0;
}
.menu_div ul li{
    list-style:none;    
}
.menu_div ul a{
    color: black;
    text-decoration:none;
    padding:5px 9px;
    float:left;
     background-color: coral;
     //height: 20px;
    /*margin:auto 20px;*/
}
.menu_div ul a:hover{
    background-color:aqua;
    transition:.1s;
}

.ancor {
    background-color: blanchedalmond;
/*    margin-top: 20px;
    margin-left: 300px;*/
    float: left;
        
}
.ancor a{
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    text-decoration:none;
    padding:5px 18px;
    border: 1px solid blue;
    float:left;
/*     background-color: coral;
     height: 20px;*/
}
.ancor a:hover{
    background-color: aqua;
}
.table_class{    
    border: 2px;
    
}
.body_class{
    float: left;    
    margin: 30px 330px;
}























































































